/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], .button-login{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	color: "black"
}

/*LOGIN*/

.main-login {
	
	display: flex;
	flex-direction: column;
}

.form-login {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.form-login input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 6px;
	margin-bottom: 30px;

}

.button-login{
	width:179px ;
	height: 36px;
	border: none;
}

.main-login h2, .main-login p {
	margin-bottom: 37px;
	text-align: center;
}

.form-login a {
	color: black;
}

.valider {
	display: none;
}
.error {
	color: red;
}


/*HEADER (quand connecter)*/

header{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.editionMode {
	display: none;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
	align-items: center;
	background-color: #000000;
	color: white;
	height: 59px;
}
.editionMode i {
	font-size: 16px;
	color: white;
}

.sectionHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sectionHeader img {
	width: 22px;
	height: 22px;
}

.linkLogin a {
	text-decoration: none;
}
li .linkLogin {
	cursor: pointer;
}
/*Button modifier + filtres*/

.headerWorks {
    display: flex;
    justify-content: center;
    gap: 30px;
	align-items:center;
	margin-bottom: 50px;
}

.modifier {
	display: none;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.headerWorks i {
	font-size: 16px;
	color: #000000;
}

.headerWorks button {
	border: none;
	background: none;
	font-size: 14px;
	padding: 0;
	cursor: pointer;
}
.filters{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.filters button {
color: #1D6154;
font-family: Syne;
font-size: 16px;
border-radius: 60px;
border: 1px solid #1D6154;
background: none;
padding: 9px 20px 9px 20px;
}

.filters :focus{
	background:#1D6154;
	color: white;
}


/*MODALE*/
#modale{
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background-color: #FFFFFF;
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	position: absolute;
	transform: translate(-50%,-50%);
	top:100%;
	left:50%;
}

.title{
	margin-top: 60px;
	margin-bottom: 36px;
	font-size: 26px;
}

.separator {
	width: 420px;
	height: 1px;
	background: #B3B3B3;
	position: absolute;
	bottom: 120px;
}

.modale button {
	border: none;
	cursor: pointer;
}

.addButton, .valider {
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	width: 237px;
	height: 36px;
	position: absolute;
	bottom: 45px;
}

.container-works {
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 0;
	gap: 10px;
}
.container-works div  {
	width: 80px;
	height: 105px;
	position: relative;
}
.container-works div img {
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.container-works .trash {
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 2px;
	z-index: 1;
	right: 0;
	top: 0;
	margin-top: 6px;
	margin-right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.closeButton {
	font-size: 24px;
	margin: 12px;
	padding: 12px;
	background: none;
	position: absolute;
	right: 0;
	bottom: 614px;
    top: 0px;
}

.addPhotoSection {
	display: none;
}

.containerPhoto {
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
	display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: center;
}
.containerPhoto p {
	font-size: 10px;
}

.fa-regular{
	font-size: 76px;
	color: #B9C5CC;
}

.containerPhoto input[type=submit] {
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
	margin: 6px;
	z-index: 1;
	border: none;
}

.addPhotoButton input[type=file] {
	opacity: 0;
	position: absolute;
    width: 180px;
	height: 40px;
	cursor: pointer;
	z-index: 2;
}

.addPhotoButton {
	display: flex;
    align-items: center;
	justify-content: center;
}

#title, #categories{
	width: 420px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.titlePhoto , .categoriePhoto  {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 35px;
}

.fa-arrow-left {
	top: 0;
    position: absolute;
    left: 0;
    margin: 30px;
	cursor: pointer;
 }

 #imageUploaded {
    position: absolute;
    z-index: 2;
    top: 122px;
}
.errorMessage{
	display: none;
	margin-bottom: 8px;
	border: 2px solid red;
	border-radius: 4px;
	padding: 8px;
}
